style{
    background-color: darkseagreen;
}

h1{
    color: forestgreen;
}

.navi {
    border: 5px dashed;

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;
}

.navi li{
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
}

.navi>li>a:hover {
    color: red;
}