body{
    background-color: rgb(158, 141, 114);
}

h1{
    color: rgb(17, 112, 17);
    text-align: center;
    font-size: 300%;
}

.navi {
    border: 5px dashed;

    list-style: none;
    width: 50%;
    margin: auto;

    text-align: center;
    padding-left: 0%;
}

.navi li{
    display: inline-block;
    border-style: outset;
    border-radius: 3px;
}

.navi>li>a:hover {
    color: rgb(17, 112, 17);
}

img{
    border: 3px ridge white;
    display: inline-block;
    margin: auto;
}

p{
    color: rgb(163, 0, 0);
    font-size: 150%;
}

.wlp{
    width: 25%;
}